.DS_Store
__pycache__/
*.py[cod]

.env
subscribers.json
Ultralytics/

build/
app/build/
outputs/
TruCKDetector_BoT/outputs/
TruCKDetector_BoT/bot_telegram/venv/
logs/*
!logs/.gitkeep

targets/camiones_nuevovision/videos/*
!targets/camiones_nuevovision/videos/.gitkeep

*.mp4
*.avi
*.mov
*.mkv
*.webm
